@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	background: url(../imgs/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;

}
.filete{background: url(../imgs/filete.png);
         background-size: contain;
        height: 10px;
        margin-bottom: 30px}
/*.row>div.mosaico{width:33.33%;float:left; position: relative}
.row>div.mosaico>div.cor{height: 1000px;
                         width:50%;
                         float:left;
                        position: absolute;}
.row>div.mosaico>div.cor+.cor{float:right;
                        position: relative}*/
.inscrevase {margin: 50px 0px;}
.insc_bt1{width: 100%;
height: 2em;
background-color: #EF7F46;
border: 1px solid #EF7F46;
color: #fff;
font-size: 3em;
transition:All 0.2s ease;
            -webkit-transition:All 0.2s ease;
            -moz-transition:All 0.2s ease;
            -o-transition:All 0.s ease;

}
.insc_bt1:hover{

background-color: rgba(255,255,255,0);
border: 1px solid #EF7F46;
color: #EF7F46;

}
.insc_bt2{width: 100%;
height: 2em;
background-color: #4b6d93;
border: 1px solid #4b6d93;
color: #fff;
font-size: 3em;
transition:All 0.2s ease;
            -webkit-transition:All 0.2s ease;
            -moz-transition:All 0.2s ease;
            -o-transition:All 0.s ease;

}
.insc_bt2:hover{

background-color: rgba(255,255,255,0);
border: 1px solid #4b6d93;
color: #4b6d93;

}
.insc_bt3{width: 100%;
height: 2em;
background-color: #54a76f;
border: 1px solid #54a76f;
color: #fff;
font-size: 3em;
transition:All 0.2s ease;
            -webkit-transition:All 0.2s ease;
            -moz-transition:All 0.2s ease;
            -o-transition:All 0.s ease;

}
.insc_bt3:hover{

background-color: rgba(255,255,255,0);
border: 1px solid #54a76f;
color: #54a76f;

}
.descricao{color:#4B4B4D;
            text-align: justify;
            font-size: 1.3em;
            text-indent: 3em;}
span.dias{color: #4B4B4D;
font-size: 2em;
float: right}
span.dias b{
            font-size: 1.5em;
           font-weight: bold}
.row>div.cor{min-height: 500px;
             width:16.66%;
             float:left;
             transition:All 0.5s ease;
            -webkit-transition:All 0.5s ease;
            -moz-transition:All 0.5s ease;
            -o-transition:All 0.5s ease;}
.nav_tab span h1{font-size:2em}
.nav_tab span:hover{cursor: pointer;
                                     text-decoration: underline}
.apoio img{width: 100%;
            margin-bottom: 60px}
.nome_curso{position: absolute;
font-size: 2em;
text-align: center;
width: 33.32%;
margin-top: 10%
}
.row>div.cor>div>div>div.row{display: none}
.row>div.ativa{width: 90%}
.row>div.inativa{width: 2%}

.row>div.mosaico>button{
    position: absolute;
    margin-left: 25%;
    width: 50%;
    height: 30%;
    font-family: 'Lato', sans-serif;
    background: none;
    border: none;
    font-size: 3em;
    font-weight: 200;
    margin-top: 30%;
    border-radius: 10px;
    outline: none;
    }
 
 
.row>.col-md-12>img{margin: 0 auto}
form span{font-size: 18px;}
.tsi{display:none;
     background: #e48857;}
.adm{display:none;
     background: #547ba6}
.geo{display:none;
     background: #9cc75c;}
.tsiatracoes{background-color: #e3ab56}
.admatracoes{background-color: #547ba6}
.geoatracoes{background-color: #9cc75c}
.row>div.col-sm-2> img{margin-bottom: 30px}
.mosaico{text-align: justify}
.nav_tab{list-style: none;
         display: none;
         margin: 0;
         padding: 0px;
}
.titulo_curso{margin: 0.67em 0px 0px 0px;
                font-size: 3em;
                display: none;}
.nav_tab li{padding-right: 50px}
.footer img{width: 100%}
.footer{color:#4B4B4D;}
a {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
}

a:hover, a:focus {
	opacity: 1;
}

.container > header {
	margin: 0 auto;
	padding: 4em 0em;
}

.container > header h1 {
	font-size: 4em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 1.5em;
	color: rgba(250,250,250,0.8);
	font-weight: 400;
	padding: 0 0 0.6em 0.1em;
}

section {
	padding: 7em 0;
}

section:nth-child(even) {
	background: rgba(0,0,0,.05);
}

section.related {
	text-align: center;
	font-size: 1.6em;
}

.related p {
	margin: 0;
	padding: 1.1em;
}

/* To Navigation Style */
.codrops-top {
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 700;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}