
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	/*background: #26C281;*/
        background: url(../img/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
	//background-color: #808080;
	color: rgba(0,0,0,0.45);
	font-size: 100%;
	line-height: 1.25;
	width: 100%;
	height: 100%;
	position: absolute;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: rgba(0,0,0,0.25);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}

.codrops-header {
	margin: 0 auto;
	padding: 3em 1em;
	text-align: center;
	color: rgba(0,0,0,0.35);
}

.codrops-header h1 {
	margin: 0;
	font-weight: 400;
	font-size: 2.5em;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 1;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

section {
	padding: 5em 2em 10em;
	/*background: #2dcb89 !important ;*/
	//background-color: #7c7c7c !important;
/*	background: url(../img/tr.png) 105% 150% no-repeat, url(../img/r.png) -10% 100% no-repeat;*/
	//background-size: 30% 70%;
	/*background-position: -10% 100%;*/
	text-align: center;
	opacity: 1 !important;
	height: 80%;
	width: 100%;
	z-index: 1;
	position: absolute;
}
footer{
	width:100%;
	height: 80px;
	background-color: rgba(75,75,75,0.5);
        color:#fff;
	position: absolute;
	bottom: 0;
}
footer p{
	width: 100%;
	text-align: center;
	padding: 10px 0 0 0;
}
/*----------------- responsividade -------------------------*/
@media screen and (max-width: 44.75em) {
	section { padding: 1em 2em; }
}

@media screen and (max-width: 25em) {
	.codrops-header { font-size: 0.8em; }
	section.related { font-size: 1.2em; }
	.codrops-icon span { display: none; }
}