@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
@font-face {
	font-family: 'cs';
	src: url('fonts/cs_regular.eot');
	src: local('☺'), url('../fonts/cs/cs_regular.woff') format('woff'), url('../fonts/cs/cs_regular.ttf') format('truetype'), url('../fonts/cs/cs_regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-9heso');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-9heso') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-9heso') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}
@font-face {
	font-family:"insc";
	src:url("Champagne_Limousines.eot?") format("eot"),
	url("../fonts/insc/Champagne_Limousines.woff") format("woff"),
	url("../fonts/insc/Champagne_Limousines.ttf") format("truetype"),
	url("../fonts/insc/Champagne_Limousines.svg#Champagne&Limousines") format("svg");

	font-weight:normal;
	font-style:normal;
}